.form-signin{
    position: relative;
    max-width: 900px;
    padding: 5px 20px 30px;
    margin: 0 auto;
    background-color: rgba(238, 238, 238, 0.829);
    border: 3px solid rgba(0,0,0,0.1);
    top: 100px;
}

.form-group{
    background-color: rgba(238, 238, 238, 0.829);
}

.row{
    background-color: rgba(238, 238, 238, 0.829);
}

.form-signin-header{
    background-color: rgba(238, 238, 238, 0.829);
}