<app-sidenav-admin></app-sidenav-admin>
<app-logout></app-logout>

<div class="container">

  <h1>Agentes MEM</h1>
  <ul>
  
    <li *ngFor="let agent of agents">
  
      <ul>
  
        <li>ID: {{ agent.idAgenteMEM }}</li>
  
        <li>Empresa: {{ agent.nombreEmpresa }}</li>
  
        <li>Dirección: {{ agent.direccionEmpresa }}</li>
  
        <li>Telefono: {{ agent.telefonoEmpresa }}</li>
  
        <li>Fax: {{ agent.faxEmpresa }}</li>
  
        <li>Email: {{ agent.emailEmpresa }}</li>
  
        <li>Nombre: {{ agent.nombreEmpleado }}</li>
  
        <li>Cargo: {{ agent.cargoEmpleado }}</li>
  
      </ul>
  
    </li>

  </ul>
 
</div>