<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="../home-regulator">Home</a>
    <a routerLink="../view-condenser-declarations">Ver Condensadores</a>
    <a routerLink="../ViewReactor">Ver Reactores</a>
    <a *ngIf="agent" href="create-condenser-declaration">Declarar Condensador</a>
    <a *ngIf="agent" href="CreateReactor">Declarar Reactor</a>

  </div>
  
  <!-- Use any element to open the sidenav -->
  <span (click)="openNav()" id="but">
      <img src="../../assets/menu-icon-18.png" width="40" >
  </span>