<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="">Home</a>
    <a href="view-condenser-declarations">Ver Condensadores</a>
    <a href="ViewLine">Ver Líneas de Transmisión</a>
    <a href="ViewReactor">Ver Reactores</a>
    <a href="ViewSvc">Ver SVC</a>
    <a href="ViewTrans">Ver Transformadores</a>
    <a href="ViewGen">Ver Unidades de Generación</a>

  </div>
  
  <!-- Use any element to open the sidenav -->
  <span (click)="openNav()" id="but">
      <img src="../../assets/menu-icon-18.png" width="40" >
  </span>