<nav>
  <ol>
    <img src="../../assets/153749253168974323.png" width="700" name="mvmIcon" style="top:10px; right:20px; position: relative; align-self: center;"/>
    <div class="wrapper">
      <form [formGroup]="messageForm" class= "form-signin" (ngSubmit)="onSubmit()">
        <h2 class="form-signin-header">Bienvenido a Energy Suit</h2>
        
        <input type="text" formControlName="username" class="form-control" placeholder="User">
        <div *ngIf="submitted && messageForm.controls.username.errors">
          <div *ngIf="messageForm.controls.username.errors.required">Es obligatorio especificar nombre de usuario</div>
        </div>

        <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
        <div *ngIf="submitted && messageForm.controls.password.errors">
          <div *ngIf="messageForm.controls.password.errors.required">Es obligatorio especificar la contraseña</div>
        </div>

        <input class="btn btn-primary btn-block" type="submit" value="Iniciar Sesion">

      </form>
    </div>
  </ol>
</nav>