<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="../home-admin">Home</a>
  <a routerLink="../create-agent">Crear Agente</a>
  <a routerLink="../view-agents">Ver Agentes</a>
  <a routerLink="../create-regulator">Crear usuario de XM</a>
  <a routerLink="../view-regulators">Ver usuarios de XM</a>
</div>
  
  <!-- Use any element to open the sidenav -->
  <span (click)="openNav()" id="but">
    <img src="../../assets/menu-icon-18.png" width="40" >
  </span>