.container {
    position: relative;
    transition: margin-left .5s;
    padding: 40px;
    bottom: 100px;
    width: 710px;
    top: 70px;
    right: 200px;
    ul{
        list-style-type: none;
        margin:0;padding:0;
        #id{
            width: 970px;
            background: rgba(238, 238, 238, 0.829);
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 8px;
            border: 1px solid rgba(0,0,0,0.1);

            span{
                font-size: 2em;
                text-decoration: none;
                font-weight: bold;
                color:#00A8FF;
            }
            ul{
                margin-top: 20px;
                li{
                    padding:0;
                    font-size: 1em;
                    font-weight: 300;
                }
            }
        }
    }
}